  <div class="actions-bar">
    <button (click)="redirectToCreateBindingSocket()" class="button-addBindingSocket">
        ➕ Add Product
    </button>
  
    <div class="search-container">
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (keydown.enter)="filterList()" />
    </div>
  </div>
  
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th *ngFor="let key of keys">{{key}}</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bindingsocket of listOfBindingSockets; let i = index">
          <td>
            <div class="image-container">
              <img [src]="'data:image/jpeg;base64,' + bindingsocket.image" alt="Image" class="thumbnail-image" />
              <div class="hover-image">
                <img [src]="'data:image/jpeg;base64,' + bindingsocket.image" alt="Zoomed Image" />
              </div>
            </div>
          </td>
          <td>{{bindingsocket.name}}</td>
          <td>
            <button class="button-supplierDetails" (click)="openDialog(i, $event)">Supplier Details</button>
          </td>
          <td>{{bindingsocket.mpn}}</td>
          <td>{{bindingsocket.details}}</td>
          <td>{{bindingsocket.project}}</td>
          <td>{{bindingsocket.stock}}</td>
          <td class="actions-column">
            <button (click)="editBindingSocket(i)" class="icon-button editBtn">
              ✏️
            </button>
            <button (click)="deleteSocket(bindingsocket._id)" class="icon-button deleteButton">
              🗑️
            </button>
            <button (click)="addToBom(bindingsocket._id)" class="addToBomBtn">
              <span>Add to BOM</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  