*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body { 
    font-family:"Roboto", sans-serif;
}

.center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.popUpContainer {
    position: fixed;
    top:0px;
    left:0px;
    width: 100px;
    height: 100%;
}

.popUpContainer .overlay {
    position: absolute;
    top:0px;
    left:0px;
    width: 100px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 100ms ease-in-out 200ms;

}

.popUpContainer .popup-content {
    position: absolute;
    top: 59%;
    left: 634%;
    transform: translate(-51%, -51%);
    width: 368%;
    height: 48%;
    max-width: 394px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.popUpContainer .popup-content h2 {
    margin:10px 0px;
    font-size:25px;
    color:#111;
    text-align: center;
}

.popUpContainer .popup-content p {
    margin:15px 0px;
    font-size:16px;
    color:#222;
    text-align: center;
}

.popUpContainer .popup-content .controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
}

.popUpContainer .popup-content .controls button {
   padding: 10px 20px;
   border: none;
   outline: none;
   font-size: 15px;
   border-radius: 20px;
   cursor: pointer;
   position: relative;
   top: 159px;
   left: 115px;
}

.popUpContainer .popup-content .controls .close-btn {
    background: transparent;
    color: #3284ed;
 }

 .popUpContainer .popup-content .controls .submit-btn {
    background: 3284ed;
    color: #fff;
 }



