<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOM Details</title>
    <link rel="stylesheet" href="bomdetails.component.css">
</head>
<body aria-hidden="false">
    <main>
        <div class="header-row">
            <h1>BOM Details</h1>
            <div class="button-bar">
                <button (click)="deleteBOM()" class="delete-button">Delete BOM</button>
                <div class="button-container">
                    <button (click)="toggleEdit()" class="edit-button">
                        {{ isEditing ? 'Cancel' : 'Edit' }}
                    </button>
                    <button (click)="saveBOM()" class="save-button">Save</button>
                    <button (click)="downloadReport()" class="save-button">Download Report</button>
                </div>
            </div>
        </div>
        <div class="bom-details">
            <!-- BOM Details Section -->
            <div class="bom-section">
                <div class="bom-item">
                    <strong>Project Name:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.project_name" />
                    <span *ngIf="!isEditing">{{ bom.project_name }}</span>
                </div>
                <div class="bom-item">
                    <strong>BOM ID:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.bom_id" />
                    <span *ngIf="!isEditing">{{ bom.bom_id }}</span>
                </div>
                <div class="bom-item">
                    <strong>Project DS:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.project_ds" />
                    <span *ngIf="!isEditing">{{ bom.project_ds }}</span>
                </div>
                <div class="bom-item">
                    <strong>Project DG:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.project_dg" />
                    <span *ngIf="!isEditing">{{ bom.project_dg }}</span>
                </div>
                <div class="bom-item">
                    <strong>Equipment Name:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.equipment_name" />
                    <span *ngIf="!isEditing">{{ bom.equipment_name }}</span>
                </div>
                <div class="bom-item">
                    <strong>Variant:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.variant" />
                    <span *ngIf="!isEditing">{{ bom.variant }}</span>
                </div>
                <div class="bom-item">
                    <strong>No. of sets:</strong>
                    <input class="inputFieldsBomDetails" [(ngModel)]="bom.sets" />
                    <!-- <span *ngIf="!isEditing">{{ bom.sets }}</span> -->
                </div>
                <div class="bom-item">
                    <strong>Created By:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.created_by" />
                    <span *ngIf="!isEditing">{{ bom.created_by }}</span>
                </div>
                <div class="bom-item">
                    <strong>Created Date:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.created_date" />
                    <span *ngIf="!isEditing">{{ bom.created_date }}</span>
                </div>
                <div class="bom-item">
                    <strong>Selected:</strong>
                    <span *ngIf="bom.selected; else showSelectButton">Yes</span>
                    <ng-template #showSelectButton>
                        <button (click)="selectAsDefault()">Select as default</button>
                    </ng-template>
                </div>
            </div>
            <div class="components-section">
                <h2>Components</h2>
                    <table class="component-table">
                        <thead class="table-header">
                            <tr>
                                <th>Image</th>
                                <th>Component Name</th>
                                <th>Quantity</th>
                                <th>Supplier</th>
                                <th>Choose Supplier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let component of bom.components; let i = index" class="table-row">
                                <td>
                                    <div class="image-container">             
                                      <img [src]="'data:image/jpeg;base64,' + component.image" 
                                           alt="Base64 Image" 
                                           class="scaled-image" />
                                      <div class="hover-image">
                                        <img [src]="'data:image/jpeg;base64,' + component.image" 
                                             alt="Base64 Hover Image" />
                                      </div>
                                    </div>
                                  </td>
                                <td>{{component.name}}</td>
                                <td><input (input)="onTextChange($event,i)" type="number" class="editable-sets" value="{{component.quantity}}" /> </td>
                                <td>{{component.selectedSupplier}}</td>
                                <td><button class="save-button" (click)="openDialog(i,$event)">Choose</button></td>  
                            </tr>
                        </tbody>
                    </table>       
            </div>     
        </div>
    </main>
</body>
</html>
