<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOM Details</title>
    <link rel="stylesheet" href="bomdetails.component.css">
</head>
<body aria-hidden="false">
    <main>
        <h1 style="display: flex; justify-content: space-between; align-items: center;">
            BOM Details
            <div class="button-container">
                <button (click)="toggleEdit()" class="edit-button">
                    {{ isEditing ? 'Cancel' : 'Edit' }}
                </button>
                <button (click)="saveBOM()" class="save-button">Save</button>
            </div>
        </h1>
        <div class="bom-details">
            <!-- BOM Details Section -->
            <div class="bom-section">
                <div class="bom-item">
                    <strong>Project Name:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.project_name" />
                    <span *ngIf="!isEditing">{{ bom.project_name }}</span>
                </div>
                <div class="bom-item">
                    <strong>BOM ID:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.bom_id" />
                    <span *ngIf="!isEditing">{{ bom.bom_id }}</span>
                </div>
                <div class="bom-item">
                    <strong>Project DS:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.project_ds" />
                    <span *ngIf="!isEditing">{{ bom.project_ds }}</span>
                </div>
                <div class="bom-item">
                    <strong>Project DG:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.project_dg" />
                    <span *ngIf="!isEditing">{{ bom.project_dg }}</span>
                </div>
                <div class="bom-item">
                    <strong>Equipment Name:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.equipment_name" />
                    <span *ngIf="!isEditing">{{ bom.equipment_name }}</span>
                </div>
                <div class="bom-item">
                    <strong>Variant:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.variant" />
                    <span *ngIf="!isEditing">{{ bom.variant }}</span>
                </div>
                <div class="bom-item">
                    <strong>No. of sets:</strong>
                    <input class="inputFieldsBomDetails" [(ngModel)]="bom.sets" />
                    <!-- <span *ngIf="!isEditing">{{ bom.sets }}</span> -->
                </div>
                <div class="bom-item">
                    <strong>Created By:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.created_by" />
                    <span *ngIf="!isEditing">{{ bom.created_by }}</span>
                </div>
                <div class="bom-item">
                    <strong>Created Date:</strong>
                    <input class="inputFieldsBomDetails" *ngIf="isEditing" [(ngModel)]="bom.created_date" />
                    <span *ngIf="!isEditing">{{ bom.created_date }}</span>
                </div>
                <div class="bom-item">
                    <strong>Selected:</strong>
                    <span *ngIf="bom.selected; else showSelectButton">Yes</span>
                    <ng-template #showSelectButton>
                        <button (click)="selectAsDefault()">Select as default</button>
                    </ng-template>
                </div>
            </div>
            <div class="components-section">
                <h2>Components</h2>
                <div class="component-table">
                    <div class="table-header">
                        <div>Image</div>
                        <div>Component Name</div>
                        <div>Quantity</div>
                        <div>Supplier</div>
                        <div>Choose Supplier</div>
                    </div>
                    <div *ngFor="let component of componentList; let i = index" class="table-row">
                        <!-- <div><img [src]="'data:image/jpeg;base64,' + component.image" alt="Base64 Image" class="scaled-image"/></div> -->
                        <div><img [src]="'data:image/jpeg;base64,' + component.image" alt="Base64 Image" class="scaled-image"/></div>
                        <div>{{component.name}}</div>
                        <input type="text" class="editable-sets" value="0" />
                        <div>Selected Suppliers</div>
                        <button class="save-button" (click)="openDialog(i,$event)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

