<div class="form-wrapper">
  <div class="form-container">
    <h2>Create Product</h2>
    <form>
      <!-- Supplier Information -->
      <div class="form-group">
        <label for="pname">Supplier Name</label>
        <input type="text" id="pname" name="pname" required />
      </div>
      <div class="form-group">
        <label for="qty">QTY/Pack</label>
        <input type="number" id="qty" name="qty" required />
      </div>
      <div class="form-group">
        <label for="price">Price/Pcs</label>
        <input type="number" id="price" name="price" step="0.01" required />
      </div>

      <div class="form-group">
        <label>Added Suppliers:</label>
        <div *ngFor="let supplier of producersList">
          <p>{{ supplier.name }}</p>
        </div>
      </div>

      <button type="button" class="btn btn-primary" style="margin-bottom: 40px;" (click)="addProducer()">Add Supplier</button>

      <br />

      <!-- Binding Socket Information -->
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" required (change)="onImageChange($event)" />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="mpn">MPN</label>
        <input type="text" id="mpn" name="mpn" required />
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <input type="text" id="details" name="details" required />
      </div>
      <div class="form-group">
        <label for="project">Project</label>
        <input type="text" id="project" name="project" required />
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" id="stock" name="stock" required />
      </div>

      <button type="button" class="btn btn-primary" (click)="create()">Create Binding Socket</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>
